body {
    color: black;
    font-family: "Yu Gothic Medium", serif;
}
.container {
    text-align: center;
    position: fixed;
}
div.encrypt {
    margin-left: 30%;
}
div.decrypt {
    margin-left: 50%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}
.input {
    font-family: inherit;
    margin-top: .5%;
    font-size: large;
}
.label, .button {
    font-weight: bold;
}
.number {
    width: 25px;
    height: 25px;
    text-align: center;
}